---
import './_hero.css';
---

<section class="hero">
  <div class="hero__badge">
    <span>  Comienza Hoy</span>
  </div>

  <h1 class="hero__title">
    ¿Listo para tu Sitio Web?<br />
    <span class="highlight">Hablemos de tu Proyecto</span>
  </h1>

  <p class="hero__text">
    Cuéntanos sobre tu negocio y crearemos el sitio web perfecto para ti.
  </p>

  <div class="hero__divider">
    <span></span>
    <div class="dot"></div>
    <span></span>
  </div>

  <div class="hero__arrow">↓</div>
</section>
