---
import '../global.css';
import Navbar from '../components/navbar/navbar.astro';
import Header from '../components/header/header.astro';
import Aboutfronesis from '../components/aboutfronesis/aboutfronesis.astro';
import Services from '../components/services/services.astro';
import Hero from '../components/hero/hero.astro';
import Contact from '../components/contact/contact.astro';
import Footer from '../components/footer/footer.astro';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		
		<title>Frónesis</title>
	</head>
	<body>
		<Navbar />
		<Header />
		<Services />
		<Aboutfronesis />
		<Hero />
		<Contact />
		<Footer />
	</body>
</html>