---
import './_header.css';
---

<section class="section_header" id="header_id">
  <img src="/pillar.webp" alt="Pilar izquierdo" class="pillar pillar-left" />
  <img src="/pillar.webp" alt="Pilar derecho" class="pillar pillar-right" />

  <div class="badge">Desarrollo Web Profesional</div>
  <h1>Tu Presencia</h1>
  <h2>Online</h2>
  <p>Creamos páginas web simples y efectivas para tu negocio.</p>
  <p class="subtext">Diseño profesional, entrega rápida.</p>
  <div class="hero__divider" id="header_divider">
  <span></span>
  <div class="dot"></div>
  <span></span>
  </div>

  <div class="buttons">
    <button class="btn btn-primary"><a id="services-header-buttons" href="#contacto">Comenzar Proyecto →</a></button>
    <button class="btn btn-outline"><a id="services-header-buttons" href="#servicios">Ver Servicios</a></button>
  </div>
</section>