/* ======== NAVBAR ======== */
.navbar {
  background: var(--bg);
  border-bottom: 1px solid var(--muted);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

a{
  text-decoration: none;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fronesis-logo {
  font-family: var(--font-title);
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: var(--text-secondary);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: var(--fw-regular);
  color: var(--text-secondary);
  transition: color 0.3s ease;
  font-size: 0.9rem;
}

.nav-links a:hover {
  color: var(--accent-dark);
}

/* ======== THEME TOGGLE ======== */
.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-primary);
  margin-right: 1rem;
}

/* ======== HAMBURGER ======== */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 28px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 45px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--text-primary);
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ======== RESPONSIVE ======== */
@media (max-width: 760px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
  }

  .hamburger {
    display: flex;
    z-index: 100;
  }
}

/* ======== MODO OSCURO ======== */
:root[data-theme="dark"] {
  /* === COLORES BASE === */
  --bg: #1e1e1e;
  --surface: #2b2b2b;
  --surface-contact: #00000000;
  --text-primary: #ffffff;
  --text-secondary: #dddddd;
  --muted: #7a7a7a;
  --bg-alternative: #252525;
  --bg-alternative1: #464646;
  --bg-contact: #242424;
  --bg-contact-container: #292A2C;

  /* === ACENTOS === */
  --accent: #d6a063;
  --accent-light: #e6b877;
  --accent-dark: #a87c4e;
  --accent-title: #f3b36e;

  /* === ACCIONES === */
  --cta-bg: #283c52;
  --cta-bg-contact: #ffffff;
  --cta-bg-sv: #d1d5db;
  --cta-bg-hover: #0d2f55;
  --cta-text: #ffffff;

  /* === DECORATIVOS === */
  --badge-bg: #2f2f2f;
  --badge-border: #3c3c3c;
  --badge-text: #d1d5db;
  --badge-gray: #999999;

  /* === ESTADOS === */
  --success: #22c55e;

  .parallax-category{
    color: var(--accent-light);
  }

  .input-group:focus-within label,
  .input-group.filled label{
    top:0;font-size:.8rem;color:var(--cta-bg-contact);font-weight:600;
    background:var(--surface);padding:0 .4rem;z-index:1;
    border-radius: 20px;
  }

  .form-title{
  font-size:1.9rem;text-align:center;margin-bottom:.5rem;
  background:linear-gradient(to right,var(--text-primary),var(--accent));
  -webkit-background-clip:text;background-clip:text;
  -webkit-text-fill-color:transparent
}
}
