---
import "./_navbar.css";
---

<header class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <h1>FRÓNESIS</h1>
    </div>
    <nav class="nav-links">
      <a href="#inicio">INICIO</a>
      <a href="#servicios">SERVICIOS</a>
      <a href="#nosotros">NOSOTROS</a>
      <a href="#contacto">CONTACTO</a>
    </nav>
    <button class="btn-comenzar">COMENZAR</button>
  </div>
</header>
